
<div class="row">
   <div class="text">
<p>Руками ничего не трогать!!!!!!!!!</p>

Вы играете игроком1. Усложненный вариат игры не реализован. В настройках меняется количество противников. Против вас пытаются играть боты. Кривые и беспощадные. 
Уровень ИИ ниже плинтуса.Боты могут вас обманывать, следите за их игрой
</div>
<img src="/assets/rules.jpg" alt="">
<div class="link"><a target="_blank" routerLink="/assets/Red7.pdf">Правила</a></div>
<div class="lowerMenu">

<div class="menuButton home"><a routerLink="" >home</a></div>
<div class="menuButton home"><a routerLink="/game" >Game</a></div>
</div></div>